<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>nl.tue.bimserver.citygml.CityGmlSerializerPlugin</implementationClass>
	</PluginImplementation>
</PluginDescriptor>